.App {
    text-align: center;
    padding: 20px;
  }
  
  .investment-inputs-container {
    transition: transform 0.5s ease-in-out;
  }
  
  .investment-inputs-container.move-up {
    transform: translateY(-200px); /* Adjust the value as needed */
  }
  
  .calculate-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .notification-message {
    color: orange;
    margin-top: 10px;
  }